
img{
    border-radius: 50px;
}
a{
    text-decoration: none;
    text-size: 40px;
}
body{
    content: '';
    background-image: url("./puf.gif");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;    
}
p{
    color: white;
}
h1{
    color: white;
}